@using LogOT.Application.EmployeeContracts.Commands.UpdateEmployeeContract;
@using LogOT.Application.EmployeeContracts.Queries;
@using LogOT.Domain.Enums;
@model EmployeeContractDto
@{
    var status = Enum.GetValues(typeof(EmployeeContractStatus)).Cast<EmployeeContractStatus>();
    var salaryType = Enum.GetValues(typeof(SalaryType)).Cast<SalaryType>();
    var contractType = Enum.GetValues(typeof(ContractType)).Cast<ContractType>();
}
<!DOCTYPE html>
<html>
<head>
    <title>Update Employee Contract</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        textarea {
            width: 200px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>Update Employee Contract</h2>

    <form action="Update" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" required>

        <label for="EmployeeName">Employee:</label>
        <input type="text" id="EmployeeName" name="EmployeeName" value="@Model.EmployeeName" readonly required>
        <br>

        <label for="File">File:</label>
        <input type="text" id="File" name="File" value="@Model.File" required>
        <br>

        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" required />
        <br>

        <label for="Job">Job:</label>
        <textarea id="Job" name="Job" rows="4" required>@Model.Job</textarea>
        <br>

        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" value="@Model.Salary" required>
        <br>

        <label for="Status">Status:</label>
        <select id="Status" name="Status" required>
            @foreach (var type in status)
            {
                <option value="@type" @(type == Model.Status ? "selected" : "")>@type</option>
            }
        </select>
        <br>

        <label for="SalaryType">Salary Type:</label>
        <select id="SalaryType" name="SalaryType" required>
            @foreach (var type in salaryType)
            {
                <option value="@type" @(type == Model.SalaryType ? "selected" : "")>@type</option>
            }
        </select>
        <br>

        <label for="ContractType">Contract Type:</label>
        <select id="ContractType" name="ContractType" required>
            @foreach (var type in contractType)
            {
                <option value="@type" @(type == Model.ContractType ? "selected" : "")>@type</option>
            }
        </select>
        <br>

        <button type="submit">Update</button>
    </form>
</body>
</html>
