@using LogOT.Application.Common.Models;
@using LogOT.Domain.Enums;
@model List<LeaveLog>
@{
    ViewData["Title"] = "Employee Leave Log - Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@await Component.InvokeAsync("NToastNotify")
<div id="layout-wrapper">
    <div class="vertical-overlay">
    </div>
    <div>
        <div id="scrollbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4>List Leave Log</h4>
                                <div>
                                    <a type="button" href="/LeaveLog/Create?EmployeeId=ac69dc8e-f88d-46c2-a861-c9d5ac894141" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i>Create</a>
                                    <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table align-middle table-nowrap" id="datatable">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                </div>
                                            </th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>LeaveHours</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all">
                                        @foreach (var leaveLog in Model)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                    </div>
                                                </td>
                                                <td>@leaveLog.StartDate.ToShortDateString()</td>
                                                <td>@leaveLog.EndDate.ToShortDateString()</td>
                                                <td>@leaveLog.LeaveHours</td>
                                                <td>@leaveLog.Reason</td>
                                                <td>@Enum.GetName(typeof(LeaveLogStatus), leaveLog.Status)</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <div class="edit">
                                                            <a href="@Url.Action("Update", new { id = leaveLog.Id })" class="btn btn-primary">Update</a>
                                                        </div>
                                                        <div class="remove">
                                                            <form action="@Url.Action("Delete", new { id = leaveLog.Id })" method="post" onsubmit="return confirm('Are you sure you want to delete?');">
                                                                <button type="submit" class="btn btn-primary">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                </div>
                                            </th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>LeaveHours</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
