@model LogOT.Application.Holidays.Commands.CreateHoliday.CreateHolidayCommand

<h2>Create Holiday</h2>

@using (Html.BeginForm("CreateHolidayView", "Holiday", FormMethod.Post))
{
    @*<div class="form-group">
        @Html.LabelFor(model => model.CompanyId)
        @Html.TextBoxFor(model => model.CompanyId, new { @class = "form-control" })
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.DateName)
        @Html.TextBoxFor(model => model.DateName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Day)
        @Html.TextBoxFor(model => model.Day, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HourlyPay)
        @Html.TextBoxFor(model => model.HourlyPay, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

