@using LogOT.Application.Holidays.Queries.GetHoiliday;
@model List<HolidaysDTO>;
@{
    ViewData["Title"] = "List";
}

<table>
    <tr>
        <th>Date name</th>
        <th>Day</th>
        <th>HourlyPay</th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateName</td>
            <td>@item.Day</td>
            <td>@item.HourlyPay</td>
            <td>
                <a asp-controller="Holiday" asp-action="Update" asp-route-id="@item.Id">Update</a>
                <form asp-controller="Holiday" asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
