@model LogOT.Application.Employees_Skill.Skill_EmployeeDTO


@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="card">

    <div class="card-header">
        <h4 class="card-title mb-0">Delete Employee Experience</h4>
    </div>

    <div class="card-body">


        <div class="col-sm-auto mb-3">
            <div>
                <a class="btn btn-secondary" asp-controller="EmployeeSkill" asp-action="Index" asp-route-id="@Model.EmployeeId">
                    <i class="ri-arrow-go-back-fill"></i>
                Return back</a>
            </div>
        </div>


        <form asp-controller="EmployeeSkill" asp-action="Delete" method="post" asp-route-id="@Model.EmployeeId">

            <table class="table table-bordered">
                <tr>
                    <td width="30%"><label asp-for="Employee.ApplicationUser.Fullname"></label></td>
                    <td><label>@Model.Employee.ApplicationUser.Fullname</label></td>
                </tr>
                <tr>
                    <td><label asp-for="Skill.SkillName"></label></td>
                    <td><label>@Model.Skill.SkillName</label></td>
                </tr>
                <tr>
                    <td><label asp-for="Skill.Skill_Description"></label></td>
                    <td><label>@Model.Skill.Skill_Description</label></td>
                </tr>
                <tr>
                    <td><label style="color: blue">ACTION</label></td>
                    <td>
                        <button class="btn btn-danger" type="submit">
                            <i class="ri-delete-bin-2-fill"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
