@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LogOT.Application.Employees_Skill.Skill_EmployeeDTO

<form asp-controller="EmployeeSkill" asp-action="Update" method="post" asp-route-id="@Model.EmployeeId">
    <table border="0">
        <input type="hidden" asp-for="Employee" />
        <tr>
            <td>
                <label asp-for="EmployeeId"></label>
            </td>
            <td><label>@Model.EmployeeId</label></td>
        </tr>

        <tr>
            <td><label asp-for="Employee.ApplicationUser.UserName"></label></td>
            <td><label>@Model.Employee.ApplicationUser.UserName</label></td>
        </tr>

        <tr>
            <td><label asp-for="Skill.SkillName"></label></td>
            <td>
                <input asp-for="Skill.SkillName" />
                <span asp-validation-for="@Model.Skill.SkillName" class="text-warning"></span>
            </td>
        </tr>

        <tr>
            <td><label asp-for="Skill.Skill_Description"></label> </td>
            <td>
                <input asp-for="Skill.Skill_Description" />
                <span asp-validation-for="@Model.Skill.Skill_Description" class="text-warning"></span>
            </td>
        </tr>

        <tr>
            <td><label asp-for="Level"></label> </td>
            <td>
                <input asp-for="Level" />
                <span asp-validation-for="@Model.Level" class="text-warning"></span>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Update</button>
            </td>
            <td>
                <a asp-controller="EmployeeSkill" asp-action="Index" asp-route-id="@Model.EmployeeId">Return back</a>
            </td>
        </tr>
    </table>
</form>