<<<<<<< HEAD
﻿@using LogOT.Application.Common.Models;
@using LogOT.Application.Employees.Queries.GetEmployee;
@model List<EmployeeDTO>
<style>
    .linkbutton {
        display: inline-block;
        padding: 5px 10px;
        background-color: #337ab7;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

        .linkbutton:hover {
            background-color: #23527c;
        }
</style>


<table>
    <td>
     <a class="linkbutton" href="/Employee/Create">Create</a>
     </td>
    <form action="/logout" method="post">
        <button type="submit">Đăng xuất</button>
    </form>

    <tr>
        <th>Id</th>
        <th>ApplicationUser</th>
=======
﻿@using LogOT.Application.Employees;
@model List<EmployeeDTO>;
@{
    ViewData["Title"] = "List";
}

<table>
    <tr>
        <th>Fullname</th>
        <th>Email</th>
        <th>PhoneNumber</th>
>>>>>>> 6daade1845861cefb9da2c3966be2b3b18f4595a
        <th>IdentityNumber</th>
        <th>BirthDay</th>
        <th>BankAccountNumber</th>
        <th>BankAccountName</th>
        <th>BankName</th>
        <th>Experiences</th>
        <th>OvertimeLogs</th>
        <th>LeaveLogs</th>
        <th>EmployeeContracts</th>
        <th>InterviewProcesses</th>
        <th>Skill_Employees</th>
<<<<<<< HEAD
        <th>Option</th>

=======
>>>>>>> 6daade1845861cefb9da2c3966be2b3b18f4595a
    </tr>

    @foreach (var item in Model)
    {
        <tr>
<<<<<<< HEAD
            <td>@item.Id</td>
            <td>@item.ApplicationUser.Fullname</td>
            
=======
            <td>@item.ApplicationUser.Fullname</td>
            <td>@item.ApplicationUser.Email</td>
            <td>@item.ApplicationUser.PhoneNumber</td>
>>>>>>> 6daade1845861cefb9da2c3966be2b3b18f4595a
            <td>@item.IdentityNumber</td>
            <td>@item.BirthDay</td>
            <td>@item.BankAccountNumber</td>
            <td>@item.BankAccountName</td>
            <td>@item.BankName</td>
<<<<<<< HEAD
            <td>@item.CreatedBy</td>
            <td>
                <a class="linkbutton" href="/Employee/Edit/@item.Id">Edit</a>
            </td>
            <td>
                <a class="linkbutton" href="/Employee/Delete/@item.Id">Delete</a>
            </td>

        </tr>
       
        


        
=======
            <td>
                <a asp-controller="Experience" asp-action="Index" asp-route-id="@item.Id">Experiences</a>
            </td>
            <td>
                <a>OvertimeLogs</a>
            </td>
            <td>
                <a>LeaveLogs</a>
            </td>
            <td>
                <a>EmployeeContracts</a>
            </td>
            <td>
                <a>InterviewProcess</a>
            </td>
            <td>
                <a>Skills</a>
            </td>
        </tr>
>>>>>>> 6daade1845861cefb9da2c3966be2b3b18f4595a
    }
</table>