@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LogOT.Application.Experiences.ExperienceDTO

<h1>Add Employee experience</h1>

<form asp-controller="Experience" asp-action="Add" asp-route-id="@Model.EmployeeId">
    <table border="0">
        <tr>
            <td><label asp-for="EmployeeId"></label></td>
            <td><label>@Model.EmployeeId</label></td>
        </tr>
        <tr>
            <td><label asp-for="Employee.ApplicationUser.Fullname"></label></td>
            <td><label>@Model.Employee.ApplicationUser.Fullname</label></td>
        </tr>
        <tr>
            <td><label asp-for="NameProject"></label></td>
            <td>
                <input asp-for="NameProject" />
                <span asp-validation-for="@Model.NameProject" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="TeamSize"></label></td>
            <td>
                <input asp-for="TeamSize" />
                <span asp-validation-for="@Model.TeamSize" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="StartDate"></label></td>
            <td>
                <input asp-for="StartDate" />
                <span asp-validation-for="@Model.StartDate" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="EndDate"></label></td>
            <td>
                <input asp-for="EndDate" />
                <span asp-validation-for="@Model.EndDate" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Description"></label></td>
            <td>
                <input asp-for="Description" />
                <span asp-validation-for="@Model.Description" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="TechStack"></label></td>
            <td>
                <input asp-for="TechStack" />
                <span asp-validation-for="TechStack" class="text-warning"></span>
            </td>
        </tr>
        <tr>
            <td><a asp-controller="Experience" asp-action="Index" asp-route-id="@Model.EmployeeId">Return back</a></td>
            <td><button type="submit">Add</button></td>
        </tr>
    </table>
</form>