@using LogOT.Application.Experiences;
@model List<ExperienceDTO>;
@{
    ViewData["Title"] = "List";
}
<a asp-controller="Experience" asp-action="Add" asp-route-id="@ViewBag.Id">Add expericene</a>
<table>
    <tr>
        <th>Fullname</th>
        <th>NameProject</th>
        <th>TeamSize</th>
        <th>Description</th>
        <th>TeckStack</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.IsDeleted)
        {
            <tr>
                <td>@item.Employee.ApplicationUser.Fullname</td>
                <td>@item.NameProject</td>
                <td>@item.TeamSize</td>
                <td>@item.Description</td>
                <td>@item.TechStack</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Status</td>
                <td>
                    <a asp-controller="Experience" asp-action="Update" asp-route-id="@ViewBag.Id">Update</a>
                    <a asp-controller="Experience" asp-action="Delete" asp-route-id="@ViewBag.Id">Delete</a>
                </td>
            </tr>
        }

    }
</table>