@using LogOT.Application.Experiences;
@model List<ExperienceDTO>;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<body>

        <div class="card">

            <div class="card-header">
                <h4 class="card-title mb-0">Add, Edit & Remove</h4>
            </div>

            <div class="card-body">
                <div class="row g-4 mb-3">
                    <div class="col-sm-auto">    
                        <a class="btn btn-primary text-white" asp-controller="Experience" asp-action="Add" asp-route-id="@ViewBag.Id">
                                <i class="ri-add-box-fill"></i>
                                Add expericene
                        </a>                       
                    </div>
                    <div class="col-sm-auto">
                        
                        <a class="btn btn-secondary text-white" asp-controller="Employee" asp-action="Index" asp-route-id="@ViewBag.Id">
                        <i class="ri-arrow-go-back-fill"></i>
                        Return back</a>
                    </div>
                </div>

                <table class="table table-responsive" id="tblExperience">
                    <thead class="table-light">

                        <tr>
                            <th>Fullname</th>
                            <th>NameProject</th>
                            <th>TeamSize</th>
                            <th>Description</th>
                            <th>TeckStack</th>
                            <th>StartDate</th>
                            <th>EndDate</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (!item.IsDeleted)
                            {
                                <tr>
                                    <td>@item.Employee.ApplicationUser.Fullname</td>
                                    <td>@item.NameProject</td>
                                    <td>@item.TeamSize</td>
                                    <td>@item.Description</td>
                                    <td>@item.TechStack</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td style="color: green">@item.Status</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Experience" asp-action="Update" asp-route-id="@ViewBag.Id">
                                            <i class="ri-edit-2-line"></i>
                                            Update
                                        </a>
                                        <a class="btn btn-danger " asp-controller="Experience" asp-action="Delete" asp-route-id="@ViewBag.Id">
                                            <i class="ri-delete-bin-2-fill"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>

    @section Scripts {
        <script>
            let table = new DataTable('#tblExperience');
        </script>

    }
</body>