@using LogOT.Application.LogOverTime.Commands.UpdateLogOverTime;
@using LogOT.Application.LogOverTime.Queries;
@using LogOT.Domain.Enums;
@model LogOverTimeDto

<!DOCTYPE html>
<html>
<head>
    <title>Update OverTimeLog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        textarea {
            width: 200px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>Update OverTimeLog</h2>

    <form action="Update" method="post">
        <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId" required

        <label for="Date">Date:</label>
        <input type="date" id="Date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" required />
        <br>

        <label for="Hours">Hours:</label>
        <textarea type="number" id="Hours" name="Hours" required>@Model.Hours</textarea>
        <br>

        <label for="Status">Status:</label>
        <input type="text" id="Status" name="Status" value="@Model.Status" required>
        <br>

        <label for="isDeleted">isDeleted:</label>
        <input type="checkbox" id="isDeleted" name="isDeleted" value="@Model.IsDeleted" required>
        <br>


        <button type="submit">Update</button>
    </form>
</body>
</html>